.menu {
    width: 300px;
    height: 170px;
    background-color: red;
}

.menu-interior {
    margin-right: auto;
    margin-left: auto;
    background-color: bisque;
    width: 50%;
}

.menu-interior p,input {
    display: inline-block;
    width: 50%;
    font-size: 12px;
}